{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["defaults", "ie >= 10"]
      }
    }],
    ["@babel/preset-flow"]
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error"]
    }]
  ]
}
