{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype"
  ],
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "mocha"
  ],
  "env": {
    "mocha": true
  },
  "rules": {
    "flowtype-errors/show-errors": "error"
  }
}
